/* Courses template in all sections and the tabs section*/
.paddedSection {
  margin: 42px 8px;
  padding: 0 24px;
}

.courses h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.courses h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 8px 0 0 0;
}
#tabsHeaders {
  overflow-x: auto;
  display: flex;
}

.tab {
  display: inline-flex;
  color: #6a6f73;
  padding: 8px 4px 8px 0;
  margin: 4px 12px 4px 0;
  cursor: pointer;
  font-weight: bolder;
  font-size: large;
}
.tab:hover {
  color: #1c1d1f;
}
.activeTab {
  color: #1c1d1f;
  cursor: default;
}

.coursesFrame {
  border: 1px solid #d1d7dc;
  padding: 32px;
}
.coursesFrame h2 {
  font-weight: bolder;
  margin: 0;
  margin-bottom: 8px;
}
.coursesFrame p {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 800px;
  line-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  margin-bottom: 16px;
}

.exploreBtn {
  background-color: transparent;
  border: 1px solid #1c1d1f;
  padding: 0 12px;
  margin: 0;
  margin-bottom: 32px;
  height: 40px;
  color: #1c1d1f;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
}

.exploreBtn:hover {
  background-color: #f5f5f5;
}

.coursesPreviewsContainer {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .exploreBtn,
  .coursesFrame p,
  .coursesFrame h2 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .courses > h1,
  .courses > h3 {
    display: none;
  }
  .courses {
    margin-top: 0;
  }
}
