.container {
  box-sizing: border-box;
  width: 45%;
  margin: 18px 0 8px 10%;
  padding: 8px;
}

@media screen and (max-width: 1165px) {
  .container {
    margin: auto;
    margin-top: 18px;
    margin-bottom: 10%;
  }
}
